@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Red+Hat+Display:wght@400;500;600;700&family=Red+Hat+Text:wght@300;400;500;600;700&display=swap');

@layer base {
    html {
        font-family: "Red Hat Text";
        scroll-behavior: smooth;
    }
}

h1,
p {
    cursor: default;
}

.hov-b:hover {
    filter: brightness(80%);
    transition: all 0.3s;
}

li {
    cursor: pointer;
}

.hero-img {
    background-image: url(https://i.imgur.com/98HqLpe.jpg);
}