@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Red Hat Text";
        scroll-behavior: smooth;
    }
}

@layer components{
    .btn{
        @apply transition-all font-medium flex gap-2 items-center justify-center rounded-md px-4 py-2 text-center
    }
    .btn-green{
        @apply text-gray-50 bg-green-700 hover:bg-green-800
    }
    .btn-transparentWhite{
        @apply text-white bg-transparent hover:text-green-500 hover:border-green-500 border border-white 
    }
    .btn-transparentGrey{
        @apply text-slate-500 bg-transparent hover:bg-green-50 border border-slate-400
    }
    .btn-transparentRed{
        @apply text-red-500 bg-transparent hover:bg-red-100 border border-red-400
    }
    .input{
        @apply px-2 py-1 border rounded outline-green-600 border-slate-400
    }
}

h1,
p {
    cursor: default;
}

.hov-b:hover {
    filter: brightness(80%);
    transition: all 0.3s;
}

li {
    cursor: pointer;
}

.hero-img {
    background-image: url(https://i.imgur.com/98HqLpe.jpg);
}